Repository johanohly/AirTrail, pull requests merged in 2024-12, with the labels that each got.

#156 feat: add dark map controls
  docs/public/dark.png
  docs/public/light.png
  src/app.css
  src/lib/components/map/Map.svelte
  static/showcase/dark.png
  static/showcase/light.png
  static/showcase/toggle.png
Labels: web, changelog:enhancement

#157 feat: grey-out airports and routes not connected to the currently hovered airport / route
  src/lib/components/map/AirportLayer.svelte
  src/lib/components/map/FlightArcLayer.svelte
  src/lib/components/map/index.ts
  src/lib/components/map/state.svelte.ts
  src/lib/utils/data/data.ts
Labels: web, changelog:enhancement

#162 fix: avoid lowercasing parsed env-var values
  src/lib/server/utils/config.ts
Labels: web, changelog:bugfix

#164 docs: fix broken installation link in README.md
  README.md
Labels: changelog:skip
