Repository johanohly/AirTrail, pull requests merged in 2024-10, with the labels that each got.

#50 feat: flight info lookup
  src/lib/components/form-fields/AirlineField.svelte
  src/lib/components/form-fields/AirportField.svelte
  src/lib/components/modals/add-flight/AddFlightModal.svelte
  src/lib/components/modals/add-flight/FlightInformation.svelte
  src/lib/components/modals/add-flight/FlightNumber.svelte
  src/lib/components/modals/edit-flight/EditFlightModal.svelte
Labels: web, changelog:feature

#53 feat: new version announcement
  bun.lockb
  package.json
  src/app.css
  src/lib/components/modals/index.ts
  src/lib/components/modals/new-version-announcement/NewTabLink.svelte
  src/lib/components/modals/new-version-announcement/NewVersionAnnouncement.svelte
  src/lib/components/modals/visited-countries/SetupVisitedCountries.svelte
  src/lib/components/ui/badge/badge.svelte
  src/lib/server/routes/visited-countries.ts
  src/routes/+layout.svelte
  svelte.config.js
Labels: web, changelog:feature

#21 feat(aircraft): improve aircraft data
  prisma/migrations/20241006184406_icao_aircraft_codes/migration.sql
  src/lib/data/aircraft.ts
Labels: web, changelog:enhancement

#51 docs: adding a flight
  docs/docs/features/add-flight.md
  docs/docs/features/export.md
  docs/docs/features/import.md
  docs/docs/features/oauth.md
  docs/docs/features/statistics.md
  docs/docs/install/post-installation.md
Labels: documentation, changelog:documentation

#54 feat: disable save button when saving edited country
  src/lib/components/modals/visited-countries/EditVisitedCountry.svelte
Labels: web, changelog:enhancement

#63 feat: navigation menu organization
  src/lib/components/NavigationDock.svelte
  src/lib/components/dock/Dock.svelte
  src/lib/components/dock/DockItem.svelte
  src/lib/components/dock/DockTooltipItem.svelte
  src/lib/components/dock/context.svelte.ts
  src/lib/components/index.ts
  src/routes/+layout.svelte
Labels: web, changelog:enhancement

#75 fix: allow kosovo to be clicked in visited countries map
  src/lib/data/countries-geo.ts
  src/lib/data/countries.ts
Labels: web, changelog:bugfix

#76 fix: arm64 migrations not running
  Dockerfile
Labels: changelog:bugfix

#77 fix: localize dates in map airport popups
  src/lib/utils/data/data.ts
Labels: web, changelog:bugfix

#78 fix: show popup when creating a new user on mobile
  src/lib/components/modals/settings/pages/users-page/AddUserModal.svelte
Labels: web, changelog:enhancement

#79 fix: allow scrolling in large mobile drawers
  src/lib/components/ui/drawer/drawer-content.svelte
  src/lib/components/ui/modal/Modal.svelte
Labels: web, changelog:bugfix

#83 fix: handle csv cells that span multiple lines
  src/lib/components/map/Airports.svelte
  src/lib/data/transitions.ts
  src/lib/import/fr24.ts
  src/lib/utils/csv.ts
  src/routes/+layout.svelte
Labels: web, changelog:bugfix

#84 feat: delete all flights
  src/lib/components/modals/settings/pages/security-page/SecurityPage.svelte
  src/lib/server/routes/flight.ts
Labels: web, changelog:enhancement

#90 fix: page freezing when trying to search for a second flight
  src/lib/components/form-fields/AirlineField.svelte
  src/lib/components/form-fields/AirportField.svelte
  src/lib/utils/data/airports.ts
  src/lib/utils/lru-cache.ts
Labels: web, changelog:bugfix
