Repository johanohly/AirTrail, pull requests merged in 2024-11, with the labels that each got.

#94 feat: improve import flow
  .github/ISSUE_TEMPLATE/missing_airport.yml
  src/lib/components/modals/add-flight/FlightNumber.svelte
  src/lib/components/modals/settings/SettingsModal.svelte
  src/lib/components/modals/settings/pages/ImportPage.svelte
  src/lib/components/modals/settings/pages/import-page/ImportPage.svelte
  src/lib/components/modals/settings/pages/import-page/PlatformTabs.svelte
  src/lib/components/modals/settings/pages/import-page/index.ts
  src/lib/components/modals/settings/pages/index.ts
  src/lib/components/ui/checkbox/checkbox.svelte
  src/lib/components/ui/checkbox/index.ts
  src/lib/import/airtrail.ts
  src/lib/import/aita.ts
  src/lib/import/fr24.ts
  src/lib/import/index.ts
  src/lib/import/jetlog.ts
  src/lib/utils/adsbdb.ts
  src/lib/utils/data/airlines.ts
  src/lib/utils/index.ts
  src/lib/utils/ratelimiter.ts
  src/lib/utils/string.ts
Labels: web, changelog:enhancement

#91 feat: hide login form when auto login is enabled
  docs/docs/features/oauth.md
  src/lib/components/ui/loader/AcrobaticLoader.svelte
  src/lib/components/ui/loader/index.ts
  src/lib/utils/oauth.ts
  src/routes/(auth)/login/+page.server.ts
  src/routes/(auth)/login/+page.svelte
Labels: documentation, web, changelog:enhancement

#98 fix: allow entering flight times between 00:00 and 00:59
  src/routes/api/flight/save/+server.ts
Labels: web, changelog:bugfix

#100 feat: flight list mobile optimizations
  src/lib/components/dock/DockDropdownItem.svelte
  src/lib/components/dock/DockFloatingItem.svelte
  src/lib/components/dock/DockItem.svelte
  src/lib/components/dock/DockTooltipItem.svelte
  src/lib/components/modals/list-flights/ListFlightsModal.svelte
  src/lib/components/modals/list-flights/Toolbar.svelte
  src/lib/components/ui/tooltip/auto-tooltip.svelte
  src/routes/+layout.svelte
Labels: web, changelog:enhancement

#102 feat: configuration through .env variables
  docs/docs/features/oauth.md
  prisma/migrations/20241108100132_app_config/migration.sql
  prisma/schema.prisma
  src/app.d.ts
  src/hooks.server.ts
  src/lib/components/helpers/Locked.svelte
  src/lib/components/helpers/index.ts
  src/lib/components/modals/settings/pages/OAuthPage.svelte
  src/lib/components/modals/settings/pages/security-page/SecurityPage.svelte
  src/lib/db/schema.d.ts
  src/lib/db/types.ts
  src/lib/server/routes/oauth.ts
  src/lib/server/utils/config.ts
  src/lib/server/utils/oauth.ts
  src/lib/stores.svelte.ts
  src/lib/utils/boolean.ts
  src/lib/utils/index.ts
  src/lib/utils/other.ts
  src/lib/utils/stores.ts
  src/lib/zod/config.ts
  src/routes/(auth)/login/+page.server.ts
  src/routes/(auth)/login/+page.svelte
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/api/oauth/callback/+server.ts
  src/routes/api/oauth/save/+server.ts
Labels: documentation, web, changelog:feature

#106 fix: remove debug form on setup page
  src/routes/(auth)/setup/+page.svelte
Labels: web, changelog:bugfix

#107 fix: prevent possible date mismatches due to timezone conversions
  src/lib/utils/datetime/parse.test.ts
  src/lib/utils/datetime/parse.ts
Labels: web, changelog:bugfix

#104 feat: respect filters across map and statistics page
  src/lib/components/NavigationDock.svelte
  src/lib/components/flight-filters/DateFilter.svelte
  src/lib/components/flight-filters/Filters.svelte
  src/lib/components/flight-filters/SelectFilter.svelte
  src/lib/components/flight-filters/types.ts
  src/lib/components/map/AirportLayer.svelte
  src/lib/components/map/FlightArcLayer.svelte
  src/lib/components/map/Map.svelte
  src/lib/components/map/index.ts
  src/lib/components/modals/list-flights/ListFlightsModal.svelte
  src/lib/components/modals/list-flights/Toolbar.svelte
  src/lib/components/modals/settings/pages/OAuthPage.svelte
  src/lib/components/modals/settings/pages/security-page/SecurityPage.svelte
  src/lib/state.svelte.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
Labels: web, changelog:feature

#124 fix: ignore duration provided by JetLog export
  src/lib/import/jetlog.ts
Labels: web, changelog:bugfix

#132 fix: import from AirTrail JSON files
  src/lib/import/airtrail.ts
Labels: web, changelog:bugfix

#140 chore(renovate): only update if security vuln. is discovered
  renovate.json
Labels: changelog:skip

#141 fix: first weekday in datepicker is in accordance with browser
  src/lib/components/form-fields/DateTimeField.svelte
Labels: web, changelog:bugfix

#142 chore: minor code cleanup and internal improvements
  src/lib/import/airtrail.ts
  src/lib/import/aita.ts
  src/lib/import/jetlog.ts
  src/lib/server/utils/oauth.ts
  src/lib/utils/data/data.ts
  src/lib/zod/flight.ts
  src/lib/zod/user.ts
  src/routes/api/flight/save/+server.ts
Labels: web, changelog:skip

#146 fix: prevent timezone conversion for non-sensitive date value
  src/lib/utils/datetime/parse.test.ts
  src/lib/utils/datetime/parse.ts
Labels: web, changelog:bugfix

#147 chore: improve development experience
  .dockerignore
  .env.example
  .github/workflows/build.yml
  CONTRIBUTING.md
  README.md
  docker/Dockerfile
  docker/build.sh
  docker/development/compose.yml
  docker/entrypoint.sh
  docker/production/compose.yml
  docs/docs/install/docker-compose.md
  docs/docs/install/manual.md
  docs/docs/install/one-click.md
  package.json
  scripts/install.sh
Labels: documentation, changelog:skip

#148 test: add e2e test suite
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  .gitignore
  CONTRIBUTING.md
  bun.lockb
  eslint.config.js
  package.json
  playwright.config.ts
  prisma/seed.ts
  prisma/seed/flight.ts
  prisma/seed/initial-seed.ts
  prisma/seed/user.ts
  scripts/other/confirm.js
  src/lib/components/NavigationDock.svelte
  src/lib/components/dock/DockTooltipItem.svelte
  src/lib/db/queries.ts
  src/lib/server/utils/flight.ts
  tests/e2e/fixtures/authentication.ts
  tests/e2e/fixtures/db.ts
  tests/e2e/fixtures/url.ts
  tests/e2e/user/access.spec.ts
  tests/e2e/user/setup.spec.ts
  vite.config.ts
Labels: web, changelog:skip
