Repository johanohly/AirTrail, pull requests merged in 2024-09, with the labels that each got.

#12 fix: add CRJ and DH8 aircraft
  src/lib/data/aircraft.ts
Labels: web, changelog:enhancement

#13 feat: multi-user flights
  prisma/migrations/20240911144624_multi_user_flights/migration.sql
  prisma/schema.prisma
  src/lib/components/modals/add-flight/AddFlightModal.svelte
  src/lib/components/modals/add-flight/OptionalFlightInformation.svelte
  src/lib/components/modals/add-flight/SeatInformation.svelte
  src/lib/components/modals/add-flight/SeatUserField.svelte
  src/lib/components/modals/edit-flight/EditFlightModal.svelte
  src/lib/components/modals/list-flights/ListFlightsModal.svelte
  src/lib/components/modals/settings/SettingsModal.svelte
  src/lib/components/modals/settings/pages/users-page/AddUserModal.svelte
  src/lib/components/modals/settings/pages/users-page/UsersPage.svelte
  src/lib/data/transitions.ts
  src/lib/db/schema.d.ts
  src/lib/db/types.ts
  src/lib/import/aita.ts
  src/lib/import/fr24.ts
  src/lib/import/index.ts
  src/lib/server/routes/flight.ts
  src/lib/server/utils/flight.ts
  src/lib/utils/data/airlines.ts
  src/lib/utils/data/airports.ts
  src/lib/utils/data/data.ts
  src/lib/zod/flight.ts
  src/routes/+page.server.ts
  src/routes/+page.svelte
Labels: web, changelog:feature

#24 feat: import from JetLog
  docs/docs/features/import.md
  src/lib/components/modals/settings/pages/ImportPage.svelte
  src/lib/import/index.ts
  src/lib/import/jetlog.ts
  src/lib/utils/datetime.ts
  src/lib/utils/index.ts
  src/routes/+page.server.ts
Labels: documentation, web, changelog:feature

#39 fix(aita): allow shorter flight number and longer airline code
  src/lib/import/aita.ts
Labels: web, changelog:bugfix

#43 fix: color future flights differently than other flights
  src/lib/components/map/Map.svelte
  src/lib/utils/data/data.ts
Labels: web, changelog:enhancement

#47 feat: OIDC Authentication
  bun.lockb
  docs/docs/features/oauth.md
  package.json
  prisma/migrations/20240925181003_oauth/migration.sql
  prisma/schema.prisma
  src/app.d.ts
  src/hooks.server.ts
  src/lib/components/modals/settings/SettingsModal.svelte
  src/lib/components/modals/settings/SettingsTabContainer.svelte
  src/lib/components/modals/settings/pages/OAuthPage.svelte
  src/lib/components/modals/settings/pages/general-page/EditUserForm.svelte
  src/lib/components/modals/settings/pages/index.ts
  src/lib/components/modals/settings/pages/security-page/EditPassword.svelte
  src/lib/components/modals/settings/pages/security-page/SecurityPage.svelte
  src/lib/components/ui/switch/index.ts
  src/lib/components/ui/switch/switch.svelte
  src/lib/db/index.ts
  src/lib/db/schema.d.ts
  src/lib/db/types.ts
  src/lib/server/auth.ts
  src/lib/server/routes/_app.ts
  src/lib/server/routes/oauth.ts
  src/lib/server/utils/auth.ts
  src/lib/server/utils/config.ts
  src/lib/server/utils/oauth.ts
  src/lib/utils/index.ts
  src/lib/utils/oauth.ts
  src/lib/utils/stores.ts
  src/lib/zod/oauth.ts
  src/routes/(auth)/login/+page.svelte
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/api/oauth/callback/+server.ts
  src/routes/api/oauth/save/+server.ts
  src/routes/api/users/login/+server.ts
Labels: documentation, web, changelog:feature

#46 feat: export flights
  docs/docs/features/export.md
  docs/docs/features/import.md
  src/lib/components/modals/settings/SettingsModal.svelte
  src/lib/components/modals/settings/pages/ExportPage.svelte
  src/lib/components/modals/settings/pages/ImportPage.svelte
  src/lib/components/modals/settings/pages/PageHeader.svelte
  src/lib/components/modals/settings/pages/index.ts
  src/lib/import/airtrail.ts
  src/lib/import/index.ts
  src/lib/server/routes/flight.ts
  src/lib/utils/csv.ts
Labels: documentation, web, changelog:feature

#48 fix: only include completed flights in statistics
  docs/docs/features/export.md
  docs/docs/features/import.md
  docs/docs/features/oauth.md
  docs/docs/features/statistics.md
  src/lib/components/modals/statistics/StatisticsModal.svelte
  src/routes/+page.svelte
Labels: documentation, web, changelog:enhancement
