Repository johanohly/AirTrail, pull requests merged in 2025-05, with the labels that each got.

#232 feat: visited countries on globe and manual country syncing
  bun.lock
  package.json
  scripts/other/iso-countries.ts
  src/lib/components/modals/settings/pages/data-page/airport/LocationField.svelte
  src/lib/components/modals/visited-countries/SetupVisitedCountries.svelte
  src/lib/data/countries.ts
  src/lib/server/routes/visited-countries.ts
  src/lib/utils/data/countries.ts
  src/routes/visited-countries/+page.svelte
Labels: Web, changelog:enhancement

#239 fix: adjust weekday start based on locale settings
  src/lib/components/modals/list-flights/ListFlightsModal.svelte
  src/lib/components/modals/statistics/charts/FlightsPerWeekday.svelte
  src/lib/utils/datetime/helpers.ts
Labels: Web, changelog:bugfix

#241 fix: support multiple origins in environment configuration
  .env.example
  src/hooks.server.ts
  svelte.config.js
Labels: Web, changelog:bugfix

#240 fix: ensure version announcement modal is closed on dismissal
  src/lib/components/modals/new-version-announcement/NewVersionAnnouncement.svelte
Labels: Web, changelog:bugfix

#242 docs: update examples for multiple origins in environment configuration
  .env.example
  docs/content/docs/install/docker-compose.mdx
  docs/content/docs/install/portainer.mdx
Labels: changelog:documentation
