Repository johanohly/AirTrail, pull requests merged in 2025-08, with the labels that each got.

#260 feat: add a PieChart for most specific aircraft flown
  src/lib/components/modals/statistics/charts/PieChart.svelte
  src/lib/components/modals/statistics/charts/PieCharts.svelte
Labels: Web, changelog:feature

#261 docs: Improve contributing informations
  CONTRIBUTING.md
Labels: changelog:skip

#271 chore/update-deps
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  bun.lock
  eslint.config.js
  package.json
  postcss.config.mjs
  src/app.css
  src/lib/components/NavigationDock.svelte
  src/lib/components/dock/DockDropdownItem.svelte
  src/lib/components/form-fields/AircraftField.svelte
  src/lib/components/form-fields/AirlineField.svelte
  src/lib/components/form-fields/AirportField.svelte
  src/lib/components/form-fields/DateTimeField.svelte
  src/lib/components/map/AirportPopup.svelte
  src/lib/components/map/ArcPopup.svelte
  src/lib/components/map/Map.svelte
  src/lib/components/modals/list-flights/ListFlightsModal.svelte
  src/lib/components/modals/list-flights/Toolbar.svelte
  src/lib/components/modals/settings/SettingsModal.svelte
  src/lib/components/modals/settings/pages/AppearancePage.svelte
  src/lib/components/modals/settings/pages/data-page/airport/AirportFormFields.svelte
  src/lib/components/modals/settings/pages/data-page/airport/LocationField.svelte
  src/lib/components/modals/settings/pages/data-page/airport/TimezoneField.svelte
  src/lib/components/modals/statistics/StatisticsModal.svelte
  src/lib/components/modals/statistics/charts/FlightsPerMonth.svelte
  src/lib/components/modals/statistics/charts/FlightsPerWeekday.svelte
  src/lib/components/modals/statistics/charts/PieChart.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-cancel.svelte
  src/lib/components/ui/alert-dialog/alert-dialog-content.svelte
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/calendar/calendar-day.svelte
  src/lib/components/ui/card/card.svelte
  src/lib/components/ui/checkbox/checkbox.svelte
  src/lib/components/ui/command/command-dialog.svelte
  src/lib/components/ui/command/command-input.svelte
  src/lib/components/ui/command/command-item.svelte
  src/lib/components/ui/command/command-link-item.svelte
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/form/form-label.svelte
  src/lib/components/ui/form/form-legend.svelte
  src/lib/components/ui/globe/Globe.svelte
  src/lib/components/ui/input-otp/input-otp.svelte
  src/lib/components/ui/input/copy-input.svelte
  src/lib/components/ui/input/input.svelte
  src/lib/components/ui/input/password-input.svelte
  src/lib/components/ui/input/textarea.svelte
  src/lib/components/ui/popover/popover-content.svelte
  src/lib/components/ui/radio-group/radio-group-item.svelte
  src/lib/components/ui/scroll-area/scroll-area-scrollbar.svelte
  src/lib/components/ui/select/select-content.svelte
  src/lib/components/ui/select/select-item.svelte
  src/lib/components/ui/select/select-trigger.svelte
  src/lib/components/ui/separator/labelled-separator.svelte
  src/lib/components/ui/separator/separator.svelte
  src/lib/components/ui/switch/switch.svelte
  src/routes/+layout.svelte
  src/routes/visited-countries/+page.svelte
  tailwind.config.js
  vite.config.ts
Labels: Web, changelog:skip

#272 fix(jetlog): if arrival time is before departure and no arrival_date is provided, assume next-day arrival
  src/lib/import/jetlog.ts
Labels: Web, changelog:bugfix

#280 feat: add a PieChart for most flown routes
  src/lib/components/modals/statistics/charts/PieCharts.svelte
Labels: Web, changelog:feature

#285 fix: handle timezone offset passed to flight lookup endpoint
  src/lib/components/modals/add-flight/FlightNumber.svelte
  src/lib/server/routes/flight.ts
  src/lib/server/utils/flight-lookup/aerodatabox.ts
Labels: Web, changelog:bugfix

#282 feat: Add a piechart for Top 5 most visited airports
  src/lib/components/modals/statistics/charts/PieCharts.svelte
Labels: Web, changelog:enhancement

#287 feat: introduce interactive pie charts with drill-down functionality in statistics
  src/lib/components/modals/statistics/StatisticsModal.svelte
  src/lib/components/modals/statistics/charts/ChartDrillDown.svelte
  src/lib/components/modals/statistics/charts/PieChart.svelte
  src/lib/components/modals/statistics/charts/PieCharts.svelte
  src/lib/stats/aggregations.ts
Labels: Web, changelog:enhancement

#292 feat: Flighty import
  docs/content/docs/features/import.mdx
  src/lib/components/modals/settings/pages/import-page/ImportPage.svelte
  src/lib/components/modals/settings/pages/import-page/index.ts
  src/lib/import/flighty.ts
  src/lib/import/index.ts
Labels: Web, changelog:feature

#296 fix: prevent unauthenticated users getting redirected when accessing share links
  src/routes/+layout.server.ts
Labels: Web, changelog:bugfix

#299 fix: aircraft and airline creation ID collision
  src/lib/components/modals/settings/pages/data-page/aircraft/CreateAircraft.svelte
  src/lib/components/modals/settings/pages/data-page/aircraft/EditAircraft.svelte
  src/lib/components/modals/settings/pages/data-page/airline/Airline.svelte
  src/lib/server/utils/aircraft.ts
  src/lib/server/utils/airline.ts
  src/lib/zod/aircraft.ts
  src/lib/zod/airline.ts
Labels: Web, changelog:bugfix

#305 fix: add back missing airlines (missing since v3)
  prisma/migrations/20250830115235_missing_airlines/migration.sql
  src/lib/components/form-fields/AircraftField.svelte
  src/lib/components/form-fields/AirlineField.svelte
  src/lib/components/form-fields/AirportField.svelte
  src/lib/components/modals/settings/pages/CreateShare.svelte
  src/lib/components/modals/settings/pages/SharePage.svelte
  src/lib/components/modals/settings/pages/data-page/aircraft/CreateAircraft.svelte
  src/lib/components/modals/settings/pages/data-page/airline/CreateAirline.svelte
  src/lib/components/modals/settings/pages/data-page/airport/CreateAirport.svelte
  src/lib/utils/data/aircraft.ts
  src/lib/utils/data/airlines.ts
Labels: Web, changelog:bugfix

#309 fix: handle missing arrival airport gracefully in statistics
  src/lib/components/modals/settings/pages/OAuthPage.svelte
  src/lib/components/modals/statistics/StatisticsModal.svelte
  src/routes/(auth)/setup/+page.svelte
Labels: Web, changelog:bugfix
